{
    "$schema": "https://json.schemastore.org/prettierrc",
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleAttributePerLine": false,
    "vueIndentScriptAndStyle": true,
    "printWidth": 100,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "./.github/**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
