:root {
    /* non-color variables */
    --time-transition: 0s;
    --width-section-border: 1px;
    --width-element-border: 1px;

    --font-text: "Baloo 2", Montserrat, Roboto, sans-serif;
    --font-heading: var(--font-text);
    --font-h1: var(--font-heading);
    --font-h2: var(--font-heading);
    --font-h3: var(--font-heading);

    --size-text: 18px;
}

/* semantic color variables for this project */
/* light theme */
:root {
    /* TODO: set proper light theme */
    --color-bg: rgb(5, 31, 48);
    --color-element-bg: rgb(9, 42, 65);
    --color-element-bg-hover: rgb(14, 62, 97);

    --color-section-border: rgb(206, 198, 180);
    --color-section-border-hover: rgb(230, 230, 230);

    --color-element-border: var(--color-section-border);
    --color-element-border-hover: var(--color-section-border-hover);

    --color-text: rgb(211, 211, 211);
    --color-heading: rgb(204, 189, 150);
    --color-h1: var(--color-heading);
    --color-h2: var(--color-heading);
    --color-h3: var(--color-heading);
    --color-mark: rgb(0, 0, 0);
    --color-mark-bg: rgb(134, 201, 221);
    --color-code: rgb(185, 156, 77);

    --color-a: rgb(134, 201, 221);
    --color-a-hover: rgb(175, 236, 255);
    --color-a-disabled: rgb(145, 145, 145);
    --color-a-active: rgb(255, 255, 255);

    --color-selected: rgb(231, 160, 160);
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: rgb(5, 31, 48);
        --color-element-bg: rgb(9, 42, 65);
        --color-element-bg-hover: rgb(14, 62, 97);

        --color-section-border: rgb(206, 198, 180);
        --color-section-border-hover: rgb(230, 230, 230);

        --color-element-border: var(--color-section-border);
        --color-element-border-hover: var(--color-section-border-hover);

        --color-text: rgb(211, 211, 211);
        --color-heading: rgb(204, 189, 150);
        --color-h1: var(--color-heading);
        --color-h2: var(--color-heading);
        --color-h3: var(--color-heading);
        --color-mark: rgb(0, 0, 0);
        --color-mark-bg: rgb(134, 201, 221);

        --color-a: rgb(134, 201, 221);
        --color-a-hover: rgb(175, 236, 255);
        --color-a-disabled: rgb(145, 145, 145);
        --color-a-active: rgb(255, 255, 255);

        --color-selected: rgb(231, 160, 160);
    }
}
