@import "./color_theme.css";

body {
    width: 100%;
    margin: 0px;

    color: var(--color-text);
    background: var(--color-bg);
    transition: color var(--time-transition), background-color var(--time-transition);
    line-height: 1.5;
    font-family: var(--font-text);
    font-size: var(--size-text);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    flex-direction: column;
    place-items: center;

    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-a);
    transition: var(--time-transition);
}

h1,
h2,
h3 {
    color: var(--color-h1);
}

mark {
    color: var(--color-mark);
    background-color: var(--color-mark-bg);
}

@media (hover: hover) {
    a:hover {
        color: var(--color-a-hover);
    }
}
